:root {
    --bg: #0D0F14;
    /* Primary Background */
    --bg2: #171A22;
    /* Secondary Background */
    --ac: #7C3AED;
    /* Accent Color */
    --ac-hover: #9A5FFD;
    /* Hover Accent */
    --txt: #E0E0E0;
    /* Primary Text */
    --txt2: #A0A0A0;
    /* Secondary Text */
    --bd: #282C35;
    /* Border Color */
    --btn: #222631;
    /* Button Background */
    --btn-hover: #383D4A;
    /* Button Hover */
    --done: #3A3F52;
    /* Completed Task */
    --warn: #D72638;
    /* Warning/Delete */
    --ok: #2ECC71;
    /* Success */
}

body {
    background-color: var(--bg);
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--txt);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.auth-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-title {
    justify-self: center;
    font-size: 46px;
    position: relative;
    top: -50px;
    margin: 0;
}

.auth-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    width: 400px;
    background-color: var(--bg2);
    border: 1px solid var(--bd);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.auth-card h2 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 25px;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
}

.input-group label {
    width: 75px;
    text-align: left;
    color: var(--txt);
}

.input-group input {
    flex: 1;
    width: 200px;
    padding: 10px;
    background-color: var(--bg2);
    color: var(--txt);
    border: 1px solid var(--bd);
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.input-group input:focus,
.input-group input:hover {
    border-color: var(--ac);
    box-shadow: 0px 0px 10px color-mix(in srgb, var(--ac-hover) 40%, transparent);
}

.auth-card form {
    text-align: right;
}

.auth-card button {
    background-color: var(--ac);
    color: var(--txt);
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: flex-end;
}

.auth-card button:hover {
    background-color: var(--ac-hover);
    box-shadow: 0px 0px 10px color-mix(in srgb, var(--ac-hover) 40%, transparent);
}

.auth-card button:active {
    transform: scale(0.90);
}

.auth-card a {
    color: var(--txt);
    text-decoration: none;
}

.link {
    color: var(--txt);
    transition: all 0.3s ease;
}

.link:hover {
    color: var(--ac);
}

.container {
    position: relative;
    padding: 10px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
}

.navBar h1 {
    font-size: 2rem;
}

.userDetails {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.userDetails h2 {
    font-size: 1.5rem;
    white-space: nowrap;
    margin-top: 25px;
}

.userDetails button {
    background-color: var(--btn);
    width: 40px;
    height: 40px;
    position: relative;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.userDetails button:hover {
    background-color: var(--ac);
}

hr {
    border: none;
    height: 2px;
    background: #ffffff10;
    margin: 0;
    margin-top: -30px;
}

.line {
    margin: 0;
    margin-top: 20px;
}

.taskCountLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.dropdown-menu {
    position: absolute;
    top: 110px;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg2);
    border-radius: 5px;
    z-index: 1000;
    width: 180px;
    padding: 5px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.dropdown-menu button {
    width: 90%;
    padding: 10px;
    background-color: var(--btn);
    color: var(--txt);
    border: none;
    cursor: pointer;
    text-align: left;
    margin: 5px 0;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.dropdown-menu .changeButton:hover {
    background-color: var(--ac);
}

.dropdown-menu .logoutButton:hover {
    background-color: var(--warn);
}

.addTaskBarWrapper {
    display: flex;
    justify-content: center;
}

.addTaskBar {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 98%;
}

.addTaskBar>* {
    flex: auto;
    min-width: 120px;
}

.searchBar {
    height: 14px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: var(--btn);
    color: var(--txt);
    outline: none;
    transition: all 0.3s ease;
}

.searchBar:hover,
.searchBar:focus {
    border: 1px solid var(--ac);
    box-shadow: 0px 0px 8px color-mix(in srgb, var(--ac-hover) 40%, transparent);
}

.newTaskBtn {
    max-width: 100px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--btn);
    border: none;
    cursor: pointer;
    color: var(--txt);
    background-color: var(--ac);
    transition: all 0.3s ease;
}

.newTaskBtn:hover {
    background-color: var(--ac-hover);
}

.displayContainer {
    overflow-x: hidden;
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    max-height: calc(100vh - 300px);
    background-color: var(--bg);
    border-radius: 8px;
    margin: 10px;
    margin-top: 20px;
    scroll-behavior: smooth;
}

.displayContainer::-webkit-scrollbar {
    width: 8px;
}

.displayContainer::-webkit-scrollbar-track {
    background: var(--bd);
    border-radius: 4px;
}

.displayContainer::-webkit-scrollbar-thumb {
    background: var(--ac);
    border-radius: 4px;
    transition: all 0.3s ease;
}

.displayContainer::-webkit-scrollbar-thumb:hover {
    background: var(--ac-hover);
}

.tasksWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
    margin-left: 0.75%;
}

.taskContainer {
    display: flex;
    background-color: var(--btn);
    color: white;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    overflow-x: hidden;
    max-width: 1830px;
    text-align: center;
}

.noTasks {
    text-align: center;
    color: gray;
}

.checkTaskContainer {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
    width: 85%;
    max-width: 90%;
}

.taskCheckbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 26px;
    min-height: 26px;
    border: 2px solid var(--btn-hover);
    border-radius: 4px;
    background-color: var(--btn);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.taskCheckbox:hover {
    border-color: var(--ac-hover);
}

.taskCheckbox:checked {
    background-color: var(--btn);
    border-color: var(--ac);
}

.taskCheckbox:checked::after {
    content: "✔";
    color: var(--txt);
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.taskText {
    color: var(--txt);
    font-size: 24px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 92%;
    display: block;
    text-align: left;
}

.taskActions {
    margin: 0;
    gap: 8px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.editBtn,
.deleteBtn {
    background: var(--btn);
    min-height: 40px;
    min-width: 40px;
    max-height: 60px;
    max-width: 60px;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.editBtn:hover {
    background: var(--ac);
}

.deleteBtn:hover {
    background: var(--warn);
}

/* -------------------------------------- COMPONENTS ------------------------------------------------- */

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-width: 200px;
    max-width: 300px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.notification.success {
    background-color: var(--ok);
    color: var(--txt);
}

.notification.error {
    background-color: var(--warn);
    color: var(--txt);
}

.notification button {
    background: none;
    border: none;
    color: var(--txt);
    font-size: 18px;
    cursor: pointer;
}

.fade-in {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 0.3s forwards;
}

.fade-out {
    opacity: 1;
    animation: fadeOut 0.3s forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.taskPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bg2);
    color: var(--txt);
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 20;
}

.taskPopup textarea {
    width: 95%;
    height: 100px;
    background: var(--btn);
    color: var(--txt);
    border-width: 2px;
    padding: 10px;
    font-size: 16px;
    resize: none;
    border-radius: 5px;
    outline: none;
    border-color: var(--btn);
    transition: all 0.3s ease;
}

.taskPopup textarea:hover,
.taskPopup textarea:focus {
    border-width: 2px;
    border-color: var(--ac);
}

.popupButtons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    transition: all 0.3s ease;
}

.cancelBtn,
.addTaskBtn {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.cancelBtn {
    background-color: var(--btn);
    color: var(--txt);
    transition: all 0.3s ease;
}

.cancelBtn:hover {
    background-color: var(--ac);
}

.addTaskBtn {
    background-color: var(--ac);
    color: var(--txt);
    transition: all 0.3s ease;
}

.addTaskBtn:hover {
    background: var(--ac-hover);
}

.inputField {
    width: 95%;
    max-width: 300px;
    min-width: 180px;
    padding: 10px;
    background-color: var(--bg2);
    color: var(--txt);
    border: 1px solid var(--bd);
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.inputField:focus,
.inputField:hover {
    border-color: var(--ac);
    box-shadow: 0px 0px 10px color-mix(in srgb, var(--ac-hover) 40%, transparent);
}


.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    color: var(--txt);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    z-index: 9999;
    pointer-events: auto;
}

.loading-screen.fade-in {
    animation: fadeIn1 0.5s ease-out forwards;
}

.loading-screen.fade-out {
    animation: fadeOut1 0.5s ease-in forwards;
    pointer-events: none;
}


@keyframes fadeIn1 {
    0% {
        opacity: 0;
        transform: scale(0.98);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut1 {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.98);
    }
}

/* -------------------------------------------- MEDIA QUERRIES ----------------------------------------------- */

@media (max-width: 450px) {

    .title {
        justify-self: center;
        font-size: 34px;
        position: relative;
        top: -50px;
        margin: 0;
    }

    .auth-card {
        display: flex;
        margin-top: 30px;
        position: relative;
        top: -50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 350px;
        background-color: var(--bg2);
        border: 1px solid var(--bd);
        border-radius: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease-in-out;
    }

    .auth-card.login {
        padding: 10px;
    }

    .auth-card.register {
        padding: 40px 15px 40px 15px;
    }

    .input-group {
        display: flex;
        flex-direction: column;
    }
}

/*---------------------------------HomePage Media Querries----------------------- */

@media (max-width: 400px) {
    .inputField {
        max-width: 90%;
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 768px) {
    .navBar {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .userDetails {
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .userDetails h2 {
        font-size: 1.2rem;
    }

    .dropdown-menu {
        right: 50%;
        transform: translateX(50%);
    }

    .addTaskBarWrapper {
        display: flex;
        justify-content: center;
    }

    .searchBar {
        width: 85%;
    }

    .newTaskBtn {
        width: 90%;
        max-width: 900px;
    }

    .dropdown-menu {
        top: 100px;
    }

    .popupButtons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .displayContainer {
        max-height: calc(100vh - 450px);
    }
}

@media screen and (max-width: 768px) {
    .taskContainer {
        flex-direction: column;
        padding: 12px;
    }

    .checkTaskContainer {
        flex-direction: row;
        align-items: center;
        gap: 8px;
        width: 100%;
    }

    .taskText {
        font-size: 18px;
        max-width: 90%;
    }

    .taskActions {
        width: 100%;
        margin-top: 5px;
        justify-content: center;
    }

    .editBtn,
    .deleteBtn {
        min-height: 35px;
        padding: 4px 8px;
    }
}

@media screen and (max-width: 480px) {
    .taskContainer {
        padding: 10px;
    }

    .checkTaskContainer {
        flex-direction: column;
        gap: 6px;
    }

    .taskActions {
        width: 92%;
        margin-top: 5px;
        justify-content: center;
    }

    .editBtn,
    .deleteBtn {
        min-height: 32px;
        padding: 3px 6px;
    }
}

@media screen and (max-width: 320px){
    .notification {
        right: 15px;
        min-width: 150px;
        max-width: 200px;
    }
}

/* --------------------- task Container animation ------------------------------- */

@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateX(40px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-task {
    animation: fadeSlideIn 400ms ease-out forwards;
    opacity: 0;
}